/* color */
/*Green*/
@import url('https://fonts.googleapis.com/css?family=Raleway');
.custom-text-h1{
	color: #252526 !important;
	font-size: 35px;
	font-weight: 700;
	font-family: 'Raleway', sans-serif;
}
.custom-text-p{
	color: #252526 !important;
	font-weight: 500;
	font-family: 'Raleway', sans-serif;
}
.custom-text-green-h1{
	color: #00AF66 !important;
	font-size: 25px;
	font-weight: 700;
	font-family: 'Raleway', sans-serif;

}
.custom-text-green-p{
	color: #00AF66 !important;
	font-weight: 500;
	font-family: 'Raleway', sans-serif;
}
.custom-text-green-p-contact{
	color: #00AF66 !important;
    font-weight: 900;
    /* font-weight: 500; */
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
}
#sayed-aside #sayed-main-menu ul li a{
	color: #00AF66 !important;
	font-size: 15px;
	font-weight: 700;
	font-family: 'Raleway', sans-serif;
}
/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #00AF66; 
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
}